 

*{

  background-color: #202224;
  font-family:  Helvetica, sans-serif;
}



.titulos {
  color: #ddd2c4;
  font-size: large;
}

.card {
  border: 0px
}

.card:hover {
  transform: scale(1.02, 1.02);
}

.facebook:hover {
  background: #41579a;
  color: #fff;
  border-radius: 5px;
}

.twitter:hover {
  background: #00acee;
  color: #fff;
  border-radius: 5px;
}

.instagram:hover {
  background: linear-gradient(
    to top right,
    #fcde30,
    #e9712a,
    #d2313b,
    #ae4198,
    #7540a1,
    #5443a8
  );
  color: #fff;
  border-radius: 5px;
}

/* pagina 404 */

.texto_principal__estilo {
  width: 20ch;
  animation: typing 2s steps(20), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-family: monospace;
  font-size: 2.5em;
  color: #bd994b;
  margin-left: 10%;
}

@keyframes typing {
  from {
    width: 0
  }
}
@keyframes blink {
  50% {
    border-color: transparent
  }
}
@media all and (max-width: 576px) {
  .imgSlider{
       height: 250px;       
       object-fit: cover;
      
   }    
   .imgMano{
  content: url("../img/mano2.jpg");
    
   }
   .e404{
  font-size: 1.5em;
  width: 15ch;
  animation: typing 2s steps(20), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-family: monospace;
  color: #bd994b;
  display: grid;  
   }
}




.logo:hover{
  transform:scale(0.8)
}
.nav-link:hover {
font-size: large;
}