* {
  background-color: #202224;
}

.logo {
  color: #bd994b;


}

.titulos {
  color: #ddd2c4;
  font-size: large;
}

.card {
  border: 0px
}

.card:hover {
  transform: scale(1.02, 1.02);
}


/* pagina 404 */


.contenedor {
  height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.texto_principal__estilo {
  width: 77ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1.5em;
  color: #bd994b;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

button {
  background-color: #ddd2c4;
}


.tipoDeTitulos {
  font-family: Arial, sans-serif, Helvetica;
}