 * {

   background-color:#202224;
     font-family: 'Raleway', sans-serif;
 }



 .titulos {
   color: #ddd2c4;
   font-size: large;
 }

 .card {
   border: 0px
 }

 .card:hover {
   transform: scale(1.02, 1.02);
 }

 .facebook:hover {
   background: #41579a;
   color: #fff;
   border-radius: 5px;
 }

 .twitter:hover {
   background: #00acee;
   color: #fff;
   border-radius: 5px;
 }

 .instagram:hover {
   background: linear-gradient(to top right,
       #fcde30,
       #e9712a,
       #d2313b,
       #ae4198,
       #7540a1,
       #5443a8);
   color: #fff;
   border-radius: 5px;
 }

 .logo:hover {
   transform: scale(0.8)
 }

 .nav-link:hover {
   font-size: large;
 }

 .filtro {
   display: flex;
   width: 300px;
   justify-content: center;
   align-items: center;
   margin: auto;
   margin-top: 6%;
 }

 .filtro:hover {
   filter: blur(2px);
 }

 .bienvenida {
   color: #bd994b;
   display: flex;
   justify-content: center;
   margin-top: 5%;
 }

 .textoBienvenida {
   color: #fff;
   display: flex;
   justify-content: center;
   margin-top: 3%;
   font-family: 'raleway';
   text-align: center;
   padding: auto;
 }

 .botonAcceder {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   margin-top: 2%;
   background-color: #bd994b;
 }

 .enlacePortada {
   text-decoration: none;
 }

 .tituloPrincipal,
 .titulosTabla {
   color: #bd994b;
 }

 .tablaInferior {
   margin-top: 5%;
 }

 .cuadrosPrincipales {
   margin-top: 3%;
 }

 .portada {
   margin-top: 3%
 }

 .btnPersona {
   background-color: #bd994b;
 }

 .btnPersona:hover {
   transform: scale(1.03);
 }

.texto404{
  
  color: #bd994b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5cm;

}

.texto404:hover{
  filter: blur(2px);

}
.mensaje404{
  color: #bd994b;
  display: flex;
  justify-content: center;
  margin: auto;
}

.logo404{
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 6%;
}